{% extends 'base.html.twig' %}

{% block title %}
    {{ 'main.index.title'|trans }}
{% endblock %}

{% block body %}
    <p>
        {{ 'main.index.welcome_message'|trans }}
    </p>

    <a href="{{ path('notice_index') }}">{{ 'main.index.notice_list'|trans }}</a>
{% endblock %}
